/node_modules
/frontend/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/images
/storage/*.key
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid